:root {
  /* color */
  --color-primary: #fff;
  --color-secondary: #ebcb80;
  --color-text: #fff;
  --color-text-primary: #4b4b4b;
  --color-heading: #4b4b4b;
  --color-testimonials-job: #7d7d7d;
  --color-hr-bottom: #f6f6f6;
  --color-border-input: #7d7d7d;
  --color-input: #7d7d7d;
  --color-hr-border: #4b4b4b;

  --bg-primary: #fff;
  --bg-secondary: #ebcb80;
  --bg-tertiary: #4b4b4b;
  --bg-pricing: #f6f6f6;
  --bg-btn-card: #4b4b4b;
  --bg-card-primary: #4b4b4b;
  --bg-card-secondary: #7d7d7d;
  --bg-footer: #4b4b4b;
  --bg-wild-nature: #f6f6f6;
  --bg-hr-border: #4b4b4b;
  --bg-btn-project: #4b4b4b;

  /* font family */
  --font-family-primary-regular: "Montserrat Regular";
  --font-family-primary-bold: "Montserrat Bold";
  --font-family-secondary-regular: "Acme Regular";

  /* font size */
  --font-size-tiny: 11px;
  --font-size-sm: 12px;
  --font-size-base: 16px;
  --font-size-normal: 18px;
  --font-size-lg: 20px;
  --font-size-xl: 26px;
  --font-size-2xl: 32px;
  --font-size-3xl: 36px;
  --font-size-4xl: 44px;
  --font-size-5xl: 64px;
  --font-size-6xl: 144px;

  --font-size-confession-name: 24px;
  --font-size-index-number-lg: 24px;
  --font-size-footer-logo: 24px;
  --font-size-gallery-text: 24px;
  --font-description-client-saying: 24px;
  --font-size-placeholder-purchase-input: 14px;

  /* line height */
  --line-height-tiny: 13px;
  --line-height-sm: 15px;
  --line-height-base: 16px;
  --line-height-md: 22px;
  --line-height-normal: 24px;
  --line-height-lg: 32px;
  --line-height-xl: 36px;
  --line-height-2xl: 40px;
  --line-height-3xl: 44px;
  --line-height-4xl: 48px;
  --line-height-5xl: 54px;
  --line-height-7xl: 78px;
  --line-height-8xl: 176px;

  --line-height-lg-btn: 19px;
  --line-height-lg-placeholder: 27px;
  --line-height-heading-card: 27px;
  --line-height-contact: 27px;
  --line-height-index-number-lg: 29px;
  --line-height-lg-heading: 30px;
  --line-height-lg-confession-name: 42px;
  --line-height-wild-nature: 28px;
  --line-height-gallery-text: 42px;

  /* container */
  --container-padding-sm: 15px;
  --container-padding-md: 24px;
  --container-padding-lg: 72px;
  --container-padding-xl: 120px;

  /* border radius */
  --border-radius-tiny: 2px;
  --border-radius-md: 8px;
  --border-radius-normal: 20px;
  --border-radius-lg: 48px;
  --border-radius-base: 50px;
}
