.process-list {
  margin-top: 37px;
  margin-bottom: 80px;
}

.process-item-description {
  padding: 36px 0;
  max-width: 187px;
}

.process-carousel-control {
  top: 205px;
}

.process-carousel-control-left {
  transform: translateX(6px);
}

.process-carousel-control-right {
  transform: translateX(-6px);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .process-carousel-control-left {
    transform: translateX(24px);
  }

  .process-carousel-control-right {
    transform: translateX(-24px);
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .process-list {
    margin-top: 80px;
  }

  .process-item-description {
    padding: 0;
  }

  .wave-shape {
    width: 100%;
    min-height: 300px;
    position: relative;
    background: var(--bg-primary);
  }

  .wave-shape::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 170px;
    background-image: url("/src/assets/images/desktop/wavy-shape.webp");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
