.places-navbar {
  color: var(--color-primary);
  position: relative;
  padding: 21px 15px;
}

.places-navbar-nav {
  position: absolute;
  top: 60px;
  z-index: 2;
  width: 100%;
  background-color: var(--bg-tertiary);
  left: -1px;
}

.places-nav-item {
  padding: 20px 15px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .places-navbar {
    padding: 32px 20px;
  }

  .places-navbar-nav {
    position: static;
  }

  .places-nav-item {
    padding: 0;
  }
}

/* large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .places-navbar {
    padding: 47px 72px;
  }
}

/* Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
  .places-navbar {
    padding-top: 33px;
  }
}
