.places-footer {
  padding: 32px 0 28px;
}

.places-footer-introduction {
  color: var(--color-primary);
}

.places-copyright,
.places-footer-group,
.places-footer-social,
.places-footer-contact {
  width: calc(100% / 2);
}

.places-footer-location {
  max-width: 125px;
}

.places-footer-social-list {
  gap: 22px;
}

.places-footer-heading {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-base);
  margin-bottom: 17px;
}

.places-footer-contact {
  margin-bottom: 33px;
}

.places-copyright,
.to-the-top,
.places-footer-social-icon,
.places-footer-description {
  mix-blend-mode: normal;
  opacity: var(--opacity-sm);
}

.places-nav-list,
.places-footer-nav {
  width: 100%;
}

.places-hr-footer {
  border-bottom: 1px solid var(--color-hr-bottom);
  margin: 19px 0 12px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.places-footer-nav {
  margin-bottom: 20px;
}

.places-input-group-prepend {
  width: 24px;
  height: 24px;
}

.places-arrow-icon {
  transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
}

.places-footer-group {
  gap: 16px;
}

.places-footer-nav-item:hover {
  color: var(--color-secondary);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .places-footer {
    padding-top: 20px;
  }

  .places-footer-about {
    max-width: 225px;
  }

  .places-footer-contact {
    margin-bottom: 0;
  }

  .places-footer-social {
    width: calc(100% / 3);
  }

  .places-hr-footer {
    margin: 28px 0 19px;
  }

  .places-footer-location {
    margin-right: 10px;
  }

  .places-footer-nav {
    margin-bottom: 0;
  }

  .places-nav-list {
    gap: 21px;
  }

  .places-footer-group {
    width: calc(100% / 3);
  }
}

/* Large devices (desktop, 992px and up) */
@media (min-width: 992px) {
  .places-footer {
    padding: 50px 0 44px;
  }

  .places-footer-heading {
    font-size: var(--font-size-normal);
    line-height: var(--line-height-normal);
  }

  .places-footer-description {
    font-size: var(--font-size-base);
  }

  .places-footer-location {
    margin-right: 54px;
    max-width: 133px;
  }

  .places-footer-social-list {
    gap: 43px;
  }

  .places-hr-footer {
    margin: 42px 0 29px;
  }

  .places-footer-heading {
    margin-bottom: 24px;
  }

  .places-input-group-prepend {
    width: 36px;
    height: 36px;
    padding: 0;
  }

  .places-nav-list {
    gap: 48px;
  }

  .places-footer-nav-item {
    font-size: var(--font-size-normal);
  }

  .places-arrow-icon {
    width: 10px;
    height: 14px;
  }
}

/* Extra large devices (desktop, 1200px and up) */
@media (min-width: 1200px) {
  .places-footer-introduction {
    padding: 0 79px;
  }
}

/* Large devices (desktop, 1400px and up) */
@media (min-width: 1400px) {
  .places-footer-about {
    max-width: 325px;
  }

  .places-footer-introduction {
    max-width: calc(1440px - 150px); /* Container Width = 1440px - left-right margin = 150px */
    margin: auto;
  }
}
