.places-contact {
  background-color: var(--bg-primary);
  padding: 45px 0 31px;
}

.places-contact-introduction {
  padding: 0 44px;
}

.places-contact-content {
  margin-top: 30px;
}

.places-contact-group {
  gap: 6px;
  margin-bottom: 13px;
  width: calc(100% / 2);
}

.places-form-control {
  padding: 4px;
  border: 1px solid var(--color-border-input-places);
  opacity: 0.8;
  mix-blend-mode: normal;
  border-radius: 2px;
}

.places-contact-message {
  gap: 4px;
  margin-bottom: 17px;
}

.places-contact-textarea {
  min-height: 64px;
  resize: none;
}

.btn-places-submit {
  font-family: var(--font-family-primary-regular);
}

.places-contact-form {
  margin-bottom: 46px;
  color: var(--color-tertiary);
}

.places-form-control::placeholder {
  color: var(--color-tertiary);
}

.places-form-control:focus {
  outline: none;
}

.places-contact-form-info {
  gap: 17px;
  margin-bottom: 27px;
}

.places-contact-heading {
  font-family: var(--font-family-primary-bold);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-normal);
}

.places-contact-description {
  margin: 13px 0 11px;
  line-height: var(--line-height-base);
}

.places-contact-social-list {
  margin-top: 10px;
  gap: 19px;
}

.places-form-content {
  gap: 6px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .places-contact-introduction {
    padding: 0 34px;
  }

  .places-form-control {
    max-width: 109px;
    height: 24px;
  }

  .places-contact-message {
    width: 100%;
  }

  .places-contact-textarea {
    max-width: 100%;
  }

  .places-contact-content {
    gap: 30px;
    max-width: 660px;
    margin: 20px auto 0;
  }

  .places-contact-detail {
    width: calc(100% / 3);
  }

  .places-location {
    max-width: 124px;
  }

  .places-phone {
    max-width: 70px;
  }

  .places-contact-social-list  {
    width: 82px;
    gap: 17px;
  }

  .places-contact-introduction {
    padding: 0;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .places-contact {
    padding: 80px 0 81px;
  }

  .places-contact-content {
    max-width: 900px;
    margin: 65px auto 0;
  }

  .places-location {
    max-width: 190px;
  }

  .places-phone {
    max-width: 100px;
  }

  .places-contact-description {
    font-size: var(--font-size-base);
    line-height: var(--line-height-normal);
  }

  .places-contact-form {
    border: 2px solid var(--color-border-form-places);
    padding: 39px 32px 43px;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
  }

  .places-contact-heading {
    font-size: var(--font-size-normal);
    line-height: var(--line-height-lg-heading);
  }

  .places-contact-social-icon {
    width: 36px;
    height: 24px;
  }

  .places-contact-social-list {
    width: 154px;
    margin-top: 29px;
  }

  .places-contact-description {
    margin: 16px 0 50px;
  }

  .places-contact-label {
    font-size: var(--font-size-normal);
    line-height: var(--line-height-heading);
  }
}

/* Large devices (desktops, 1400px and up) */
@media (min-width: 1400px) {
  .places-contact-content {
    max-width: 1350px;
    gap: 41px;
  }

  .places-contact-form {
    width: 536px;
    height: 414px;
    padding: 39px 60px
  }

  .places-contact-detail {
    max-width: 249px;
  }

  .places-form-content {
    width: 100%;
    gap: 12px;
  }

  .places-form-control {
    max-width: 100%;
    height: 36px;
  }

  .places-contact-textarea {
    height: 120px;
  }

  .places-contact-message,
  .places-contact-group {
    gap: 17px;
    margin-bottom: 16px;
  }

  .btn-places-submit {
    margin-top: 24px;
  }

  .places-location {
    max-width: 234px;
  }
}
