.features {
  margin-top: 28px;
}

.features-content {
  margin-top: 29px;
}

.features-list {
  margin-bottom: 37px;
  gap: 40px;
}

.features-icon {
  min-width: 39px;
  height: 39px;
}

.features-item {
  gap: 8px;
  margin-left: 14px;
}

.features-heading {
  min-width: 124px;
  min-height: 40px;
}

.features-sub-heading {
  min-width: 295px;
  min-height: 24px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .features {
    min-height: 680px;
  }

  .features-content {
    margin-top: 49px;
  }

  .features-list {
    padding: 20px;
    gap: 72px;
    width: 50%;
  }

  .feature-img {
    position: absolute;
    top: -12px;
    right: -24px;
  }

  .features-item {
    gap: 10px;
  }
}

/* Large devices (large desktops, 992px and up) */
@media (min-width: 992px) {
  .feature-img {
    position: unset;
  }

  .features-list {
    padding: 20px;
    gap: 35px;
    width: calc(871 * 100% / 992); /* 871 is the width of the features-list */
  }

  .features-heading {
    margin-bottom: 30px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .features-list {
    padding: 35px 60px;
    gap: 35px;
    width: calc(871 * 100% / 1440); /* 871 is the width of the features-list */
  }

  .feature-img {
    width: 100%;
  }

  .features-icon {
    min-width: 53px;
    height: 44px;
    margin-top: 8px;
  }

  .features-item {
    max-width: 340px;
  }
}

/* Extra large devices (large desktops, 1500px and up) */
@media (min-width: 1500px) {
  .features-item {
    max-width: none;
  }
}
