.btn {
  width: 140px;
  height: 32px;
  padding: 9px 13px;
  color: var(--color-text-primary);
  background-color: var(--bg-secondary);
  border: 1px solid var(--bg-secondary);
  border-radius: var(--border-radius-base);
  font-size: var(--font-size-tiny);
  line-height: var(--line-height-tiny);
}

.btn-project {
  width: 120px;
  height: 32px;
  padding: 9px 3px;
  border: 2px solid var(--bg-btn-project);
  background: var(--bg-primary);
  color: var(--color-text-primary);
  font-family: var(--font-family-primary-regular);
  text-transform: uppercase;
  margin-top: 20px;
}

.btn-register {
  font-family: var(--font-family-primary-regular);
  font-size: var(--font-size-tiny);
  line-height: var(--line-height-tiny);
  width: 220px;
  height: 40px;
  padding: 13px 20px;
  background: var(--bg-tertiary);
  color: var(--color-primary);
}

.btn-get-started {
  width: 120px;
  height: 32px;
  padding: 9px 11px;
  background: var(--bg-primary);
  border: 2px solid var(--color-tertiary);
  font-family: var(--font-family-primary-regular);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .btn {
    height: 40px;
    padding: 13px;
  }

  .btn-get-started {
    height: 32px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .btn {
    width: 210px;
    height: 48px;
    padding: 14px 48px;
    font-size: var(--font-size-base);
    line-height: var(--line-height-lg-btn);
  }

  .btn-project {
    width: 200px;
    height: 48px;
    padding: 15px 37px;
    font-size: var(--font-size-base);
    line-height: var(--line-height-md);
    margin-top: 32px;
  }

  .btn-secondary-active {
    border: 2px solid var(--bg-secondary);
    background: var(--bg-secondary);
  }

  .btn-register {
    width: 230px;
    height: 48px;
    padding: 15px 57px;
    font-size: var(--font-size-base);
    line-height: var(--line-height-lg-btn);
  }

  .btn-get-started {
    width: 170px;
    height: 48px;
    padding: 15px 20px;
  }
}

/* Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
  .btn-get-started {
    width: 200px;
    height: 48px;
    padding: 15px 27px;
  }
}
