.btn {
  width: 140px;
  height: 32px;
  padding: 9px 13px;
  color: var(--color-text-primary);
  background-color: var(--bg-secondary);
  border: 1px solid var(--bg-secondary);
  border-radius: var(--border-radius-base);
  font-size: var(--font-size-tiny);
  line-height: var(--line-height-tiny);
}

.btn-project {
  width: 120px;
  height: 32px;
  padding: 9px 3px;
  border: 2px solid var(--bg-btn-project);
  background: var(--bg-primary);
  color: var(--color-text-primary);
  font-family: var(--font-family-primary-bold);
  text-transform: uppercase;
  margin-top: 20px;
}

.btn-project-active {
  border: 2px solid var(--bg-secondary);
  background: var(--bg-secondary);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .btn {
    height: 40px;
    padding: 13px;
  }
}

/* Large devices (large desktops, 992px and up) */
@media (min-width: 992px) {
  .btn {
    width: 210px;
    height: 48px;
    padding: 14px 48px;
    font-size: var(--font-size-base);
    line-height: var(--line-height-lg-btn);
  }

  .btn-project {
    width: 200px;
    height: 48px;
    padding: 15px 37px;
    font-size: var(--font-size-base);
    line-height: var(--line-height-md);
    margin-top: 32px;
  }
}
