body {
  font-family: var(--font-family-primary-regular);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--color-text);
  background-image: url("/src/assets/images/mobile/hydra.webp");
  background-color: #302c42;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container-fluid {
  padding-left: var(--container-padding-sm);
  padding-right: var(--container-padding-sm);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    background-image: url("/src/assets/images/desktop/hydra.webp");
    background-size: cover;
    background-position: initial;
  }

  .container-fluid {
    padding-left: var(--container-padding-md);
    padding-right: var(--container-padding-md);
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container-fluid {
    padding-left: var(--container-padding-lg);
    padding-right: var(--container-padding-lg);
  }
}
